# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc
.DS_Store
data/.DS_Store
data/2021Census.csv
data/event_list.csv
data/Export/dim_date.csv
data/Export/dim_events.csv
data/Export/dim_park_attributes.csv
data/Export/dim_weather.csv
data/Export/fact_live_times.csv
data/Export/fact_popular_times.csv
data/final_merged_df.csv
data/merge_usual_id.csv
data/merge_usual_id2.csv
data/Metadata.xlsx
data/parkAmenityTable.xlsx
data/parks_data_extract_as_of_05152025.zip
data/parksStatic.csv
data/usual_merged_cleaned.csv
data/wetransfer_share-with-langara_2025-03-31_2039(1).zip
docs/20250527-Script.docx
docs/Capstone Report.pdf
docs/City_Vancouver_Data_Description.odt
docs/Client Meeting - v1.pptx
docs/Client Meeting - v2.pptx
docs/Client Meeting - v3.pptx
docs/Dataset Overview - Parks.pptx
docs/Fabric Workflow.webp
docs/Park Board - Fabric Workflow.docx
docs/Park Board Mgt.pbix
docs/Parking_Search_Optimization_in_Urban_Area.pdf
docs/Parkview.svg
docs/Potential Use Cases.jpg
docs/Project_Outline.docx
docs/SeeInsights_VisitationCounters_WithPrice_ALLCOUNTERS.pdf
docs/vancity.png
docs/VanCity_ERDiagram.png
migration/.DS_Store
migration/Data Pipelines/Data Ingestion.zip
migration/Data Pipelines/Predict Park Occupancy.zip
migration/Data Pipelines/Train Forecasting Model.zip
migration/Data Pipelines/User Estimation.zip
migration/Notebooks/Ingestion/ingest_01_load_raw.ipynb
migration/Notebooks/Ingestion/ingest_02_load_stg_1.ipynb
migration/Notebooks/Ingestion/ingest_03_load_stg_2.ipynb
migration/Notebooks/Ingestion/ingest_04_load_dim.ipynb
migration/Notebooks/Ingestion/ingest_05_load_fact_observational_study.ipynb
migration/Notebooks/Ingestion/ingest_06_load_fact_live_times.ipynb
migration/Notebooks/Ingestion/ingest_07_load_fact_popular_times.ipynb
migration/Notebooks/Prediction/predict_01_timeseries_forecast_1wk.ipynb
migration/Notebooks/Prediction/predict_02_user_estimates.ipynb
migration/Notebooks/Training/train_01_impute_fact_live_times.ipynb
migration/Notebooks/Training/train_02_train_timeseries_model.ipynb
migration/Notebooks/Training/train_03_train_user_estimates_model.ipynb
migration/Park Analytics Dashboard.pbit
migration/Park Analytics Dashboard.pbix
migration/ParkBoard_Lakehouse.Lakehouse.zip
migration/ParkBoard_Migration_Plan.xlsx
migration/Semantic Model/.DS_Store
migration/Semantic Model/Measures/Average % Difference.txt
migration/Semantic Model/Measures/Estimated Users ParkView.txt
migration/Semantic Model/Measures/Event on Selected Date.txt
migration/Semantic Model/Measures/Filtered Live Off Peak Usage.txt
migration/Semantic Model/Measures/Filtered Live Peak Usage.txt
migration/Semantic Model/Measures/Filtered Live Times Percent (AVG).txt
migration/Semantic Model/Measures/Filtered Usual Off Peak Usage.txt
migration/Semantic Model/Measures/Filtered Usual Peak Usage.txt
migration/Semantic Model/Measures/Filtered Usual Times Percent (AVG).txt
migration/Semantic Model/Measures/Live Off Peak Usage.txt
migration/Semantic Model/Measures/Live Peak Usage.txt
migration/Semantic Model/Measures/Live vs Popular Times % Diff.txt
migration/Semantic Model/Measures/Parks With Events Today.txt
migration/Semantic Model/Measures/Parks With Events.txt
migration/Semantic Model/Measures/SelectedAmenities.txt
migration/Semantic Model/Measures/Today Date.txt
migration/Semantic Model/Measures/Usual Off Peak Usage.txt
migration/Semantic Model/Measures/Usual Peak Usage.txt
ts_analysis/data.zip
ts_analysis/modern-time-series-forecasting-with-python.pdf
ts_analysis/time_series_analysis.acsm
